BODY{
		background:url(../img/background.JPG);
		overflow:hidden;
	}
		.new{margin-top:50px;}
		#wrapper
		{
		position:relative;
		}
		#main{
			margin:0 auto;
		}
		#top{
			background-color:rgba(207, 207, 14, 0.28);
			height:120px;
			padding:8px;
			
		}
		#logo
		{
			margin-top:20px;
			width:150px;
			height:80px;
			float:left;	
		}
		#header
		{
			float:left;
			margin-left:180px;
			margin-top:5px;
		}
		H4{
			font-family:roboto;
		}
